builds/
workspace/
lastStable
lastSuccessful
nextBuildNumber
modules/
*.log

neo4j/jobs/02_Global_Biotic_Interactions/nextBuildNumber
neo4j/jobs/02_Global_Biotic_Interactions/builds/permalinks
FreshData_Monitors_V2/jobs/genHigherClass_job_1/builds/permalinks
FreshData_Monitors_V2/jobs/genHigherClass_job_1/nextBuildNumber
neo4j/jobs/01_Brazilian_Flora/builds/permalinks
neo4j/jobs/01_Brazilian_Flora/nextBuildNumber
neo4j/jobs/02_Global_Biotic_Interactions/nextBuildNumber
