<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
        <removeLastBuild>false</removeLastBuild>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /var/www/html/eol_php8_code/update_resources/connectors
### OK 0of4: This will add a &apos;genus&apos; column in taxa extension. This is an adjustment for OBISenvDataRecords.tar.gz
### source is: OBISenvDataRecords.tar.gz
### generates: OBISenvDataRecords_taxaFixed.tar.gz
php dwca_update_taxa.php _ &apos;{&quot;source_dwca&quot;: &quot;OBISenvDataRecords&quot;, &quot;resource_id&quot;:&quot;OBISenvDataRecords_taxaFixed&quot;, &quot;resource&quot;:&quot;update_taxa&quot;}&apos;
exit 0
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>