<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
        <removeLastBuild>false</removeLastBuild>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /var/www/html/eol_php8_code/update_resources/connectors

### This will add higherClassification in taxon.tab. And rebuild the DwCA.
### globi_assoc has parentNameUsageID field but doesn&apos;t have any values, it&apos;s blank. So we use ancestry to compute for hC
#php dwca_utility.php _ &apos;{&quot;resource_id&quot;: &quot;globi_assoc&quot;, &quot;task&quot;: &quot;gen_hC_using_ancestry&quot;}&apos;

### This use gnparser one name at a time. Not entire file.
#php run_gnparser_dwca.php _ &apos;{&quot;resource_id&quot;: &quot;globi_assoc-with-hC&quot;}&apos; #OK gen neo4j_1

### Start matching taxa:
#php match_taxa_2DH.php _ &apos;{&quot;resource_id&quot;: &quot;globi_assoc-with-hC&quot;}&apos; #OK gen neo4j_2

### Convert taxon.tab, use EOLid value for taxonID.
### REMINDER: Multiple scinames with different taxonIDs have the same canonical thus will have the same EOLid
#php use_EOLid_as_taxonID.php _ &apos;{&quot;resource_id&quot;: &quot;globi_assoc-with-hC&quot;}&apos; # gen neo4j_3

### rename
cd /var/www/html/eol_php8_code/applications/content_server/resources_3
cp globi_assoc-with-hC_neo4j_3.tar.gz GloBI_TraitBank_1_0.tar.gz
ls -lt globi_assoc-with-hC_neo4j_3.tar.gz
ls -lt GloBI_TraitBank_1_0.tar.gz
rm -f globi_assoc-with-hC_neo4j_3.tar.gz

### Generate CSV files for Neo4j: OK
cd /var/www/html/eol_php8_code/update_resources/connectors
php generate_csv_4neo4j.php _ &apos;{&quot;resource_id&quot;: &quot;GloBI_TraitBank_1_0&quot;}&apos; #latest
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>