<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
        <removeLastBuild>false</removeLastBuild>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /var/www/html/eol_php8_code/update_resources/connectors
# Step 1of3 OK:
php environments_2_eol.php jenkins &apos;{&quot;task&quot;: &quot;generate_eol_tags_pensoft&quot;, &quot;resource&quot;:&quot;all_BHL&quot;, &quot;resource_id&quot;:&quot;TreatmentBank&quot;, &quot;subjects&quot;:&quot;Uses&quot;}&apos;
#-&gt; generates TreatmentBank_ENV.tar.gz
#-&gt; lasted 3 days, 6 hrs; that is without any cache yet
#-&gt; lasted 10 hrs; if with cache already

#exit 0

# === Step 2of3 OK: remove all MoF records with habitat value(s) that are descendants of both marine and terrestrial OK. The 2nd filter.
php rem_marine_terr_desc.php _ &apos;{&quot;resource_id&quot;:&quot;TreatmentBank_ENV&quot;}&apos;
#source: TreatmentBank_ENV.tar.gz 
#generates: TreatmentBank_ENV_01.tar.gz

#exit 0

# XXXXX Step Adjustments OBSOLETE
### This is now OBSOLETE. Worked before. Not neeeded anymore with our Textmining Strings.
### cd /var/www/html/eol_php8_code/update_resources/connectors
### php treatmentbank_adjust.php jenkins
### -&gt; generates TreatmentBank_adjustment_01.tar.gz

# Step 3of3 OK: Clade Specific Filters for Habitat. The 1st filter.
###cd /var/www/html/eol_php8_code/update_resources/connectors
########## OBSOLETE php clade_filters_4_habitats.php jenkins &apos;{&quot;resource_id&quot;:&quot;TreatmentBank_adjustment_01&quot;}&apos; #OBSOLETE
php clade_filters_4_habitats.php jenkins &apos;{&quot;resource_id&quot;:&quot;TreatmentBank_ENV_01&quot;}&apos; #OK | result taxon.tab will be only those with occurrences.
###-&gt; generates TreatmentBank_adjustment_02.tar.gz

exit 0

### XXXXX This is now OBSOLETE. Not needed anymore with our new Textmining Strings
#php georgia_cntry_vs_state.php jenkins &apos;{&quot;resource_id&quot;: &quot;TreatmentBank_adjustment_02&quot;}&apos; #OK
### generates TreatmentBank_adjustment_03.tar.gz

### XXXXX This is now OBSOLETE. Not needed anymore with our new Textmining Strings
#php dwca_MoF_reassign_values.php _ &apos;{&quot;resource_id&quot;:&quot;TreatmentBank_adjustment_03&quot;, &quot;resource&quot;:&quot;MoF_reassign_values&quot;}&apos; #OK
### generates TreatmentBank_adjustment_04.tar.gz

### === LAST STEP: copy TreatmentBank_adjustment_02.tar.gz to TreatmentBank_final.tar.gz OK
cd /var/www/html/eol_php8_code/applications/content_server/resources_3
cp TreatmentBank_adjustment_02.tar.gz TreatmentBank_final.tar.gz
ls -lt TreatmentBank_adjustment_02.tar.gz
ls -lt TreatmentBank_final.tar.gz
### then delete TreatmentBank_adjustment_02.tar.gz
rm -f TreatmentBank_adjustment_02.tar.gz

#exit 0 # graceful exit, no error
### below updates CKAN date updated entry
### commented for now since server editors.eol.org is down
#cd /var/www/html/eol_php8_code/update_resources/connectors
#php ckan_api_access.php jenkins &quot;8eaf28c4-67eb-4eb0-931e-7ac8f89a87cf&quot;

</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>