<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
        <removeLastBuild>false</removeLastBuild>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /var/www/html/eol_php8_code/update_resources/connectors

# step 1: generate main DwCA resource
###php resource_utility.php jenkins &apos;{&quot;resource_id&quot;: &quot;24_pre_ENV&quot;, &quot;task&quot;: &quot;remove_MoF_Occurrence&quot;}&apos;
# source is 24_legacy_2024_11_15_EoL.tar.gz
# generates 24_pre_ENV.tar.gz

#exit 0

# Available subjects for AntWeb: Description|Distribution|DiagnosticDescription|TaxonBiology
#http://rs.tdwg.org/ontology/voc/SPMInfoItems#Description: 17216
#http://rs.tdwg.org/ontology/voc/SPMInfoItems#Distribution: 2992
#http://rs.tdwg.org/ontology/voc/SPMInfoItems#DiagnosticDescription: 303 --- issue with &quot;concave&quot;, hasn&apos;t solved yet
#http://rs.tdwg.org/ontology/voc/SPMInfoItems#TaxonBiology: 122 --- 

# step 2: start textmine
###php environments_2_eol.php jenkins &apos;{&quot;task&quot;: &quot;generate_eol_tags_pensoft&quot;, &quot;resource&quot;:&quot;all_BHL&quot;, &quot;resource_id&quot;:&quot;AntWeb&quot;, &quot;subjects&quot;:&quot;Description|Distribution|TaxonBiology&quot;}&apos;
#source is 24_pre_ENV.tar.gz
#generates AntWeb_ENV.tar.gz

#exit 0

# step 3: Clade Specific Filters for Habitat. The 1st filter.
###php clade_filters_4_habitats.php jenkins &apos;{&quot;resource_id&quot;:&quot;AntWeb_ENV&quot;}&apos; #OK | result taxon.tab will be only those with occurrences, media, etc.
#source is AntWeb_ENV.tar.gz
#generates AntWeb_ENV_2.tar.gz

# step 4: remove all MoF records with habitat value(s) that are descendants of both marine and terrestrial OK. The 2nd filter.
###php rem_marine_terr_desc.php _ &apos;{&quot;resource_id&quot;:&quot;AntWeb_ENV_2&quot;}&apos;
#source is AntWeb_ENV_2
#generates AntWeb_ENV_3

#exit 0

### === LAST STEP:
cd /var/www/html/eol_php8_code/applications/content_server/resources_3
cp AntWeb_ENV_3.tar.gz AntWeb_textmined.tar.gz
ls -lt AntWeb_ENV_3.tar.gz
ls -lt AntWeb_textmined.tar.gz
### then delete AntWeb_ENV_3.tar.gz
rm -f AntWeb_ENV_3.tar.gz
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>